.calculator{
    width: 320px;
    margin: 100px auto;
}

#answer{
    background-color: beige;
    padding: 10px;
    font-size: 35px;
    width: 294px;
    height: 45px;
    text-align: right;
    border: 3px solid black;
}
.button{
    background-color: black;
    color: aliceblue;
    height: 80px;
    width: 80px;
    font-size: 30px;
    border: 1px solid rgb(226, 218, 218);
    float: left;
}